body {
  /*min-width: 357px;
  max-width: 500px;*/
  width: 400px;
  overflow-x: hidden;
  font-family: sans-serif;
  padding: 10px;
  font-size: 14px;
  text-align: justify;
}
#apod_img_id {
  margin: 5px, 0px, 5px, 0px;
  /*border: 2px solid black;*/
  vertical-align: middle;
  width: 98%;
  height: 100%;
}
h1 {text-align:center;}
#date {
  max-width: 90px;
  font-size: 12px;
  font-family: monospace;
}
#back {display: none;}
#loader {
  display: none;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
}
#internet {
  display: none;
  position: absolute;
  top: 35%;
  width: 94%;
  text-align: center;
}
hr {
  margin-bottom: 2px;
  margin-top: 5px;
  border: none;
  border: 1px dashed #000;
}
p {width: 98%;}
.arrow {size: 10%;}
#apod_title {
  font-family: Arial;
  text-align: left;
}
a {color: #61dcf4;}
.button {
  border-radius: 5px;
  border-style: solid;
  border-color: #d8d8d8;
  padding: 6px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #efefef;
  font-size: 13px;
  font-family: arial;
  border-width: thin;
}
.button:hover {
  background-color: #d8d8d8;
  cursor: default;
}
.button:active {
  background-color: lightblue;
  border-color: lightblue
}
